<div class="container-xxl bg-body-tertiary">
    <div class="row sticky-top shadow-custom px-4">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <nav class="navbar w-100">
                <img src="./assets/Logo-Computec.png" class="img-fluid logo ms-3" alt="Logo Computec">

                <div class="d-flex flex-row justify-content-between gap-2 me-4">
                    <img src="./assets/success.png" alt="" class="img-fluid img-izq">
                    <img src="./assets/email.png" alt="" class="img-fluid img-izq">
                    <img src="./assets/folder.png" alt="" class="img-fluid img-izq">
                    <img src="./assets/calculator.png" alt="" class="img-fluid img-izq">
                    <img src="./assets/message.png" alt="" class="img-fluid img-izq">
                </div>
            </nav>
        </div>
    </div>

    <div class="row p-2 app-custom">

        <div class="col-3 d-flex flex-column justify-content-between pb-2 bg-body border rounded">
            <div class="col-12 d-flex justify-content-center align-items-center mt-5">
                <img src="./assets/C-1.png" alt="" class="img-fluid">
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center ">
                <img src="./assets/C-2.png" alt="" class="img-fluid">
            </div>

            <button class="btn btn-custom w-100" (click)="sendToQuadient()"
                [disabled]="!formCreate.valid">Generar</button>
            
        </div>

        <div class="col-9 d-flex flex-column justify-content-center align-items-center bg-body pb-1">
            <div class="document shadow h-100 col-7 p-5">
                <form [formGroup]="formCreate" class="p-3 h-100 content">

                    <div class="row">
                        <p class="col-4 p-0">{{date}}</p>
                        <div class="col-8 p-0">
                            <input type="text" class="form-control content" placeholder="URL del logo"
                                formControlName="url_logo">
                        </div>
                    </div>

                    <div class="row mt-3 gap-2">
                        <div class="col-8 p-0">
                            <input type="text" class="form-control content" placeholder="Nombre"
                                formControlName="nombre">
                        </div>
                        <div *ngIf="formCreate.get('nombre')?.invalid && formCreate.get('nombre')?.touched" class="col-3 required-field">
                            *Campo obligatorio.
                        </div>

                        <div class="col-8 p-0">
                            <input type="text" class="form-control content" placeholder="Email" formControlName="email">
                        </div>
                        <div *ngIf="formCreate.get('email')?.invalid && (formCreate.get('email')?.touched)" class="col-3 required-field">
                            *Email no valido.
                        </div>

                        <div class="col-8 p-0">
                            <input type="number" class="form-control content" placeholder="Celular"
                                formControlName="celular">
                        </div>
                        <div *ngIf="formCreate.get('celular')?.invalid && formCreate.get('celular')?.touched" class="col-3 required-field">
                            *Número no valido.
                        </div>

                        <div class="col-8 p-0">
                            <input type="text" class="form-control content" placeholder="Cargo" formControlName="cargo">
                        </div>
                        <div class="col-8 p-0">
                            <input type="text" class="form-control content" placeholder="Empresa"
                                formControlName="empresa">
                        </div>

                        <div class="col-12 p-0">
                            <textarea class="form-control content" placeholder="Información" rows="11"
                                formControlName="informacion"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>